XML/Schema/Domande_Assistenza.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="domande">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="domanda" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
			<xsd:attribute name="ultimoId" type="xsd:integer" use="required" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="domanda">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:positiveInteger" use="required" />
			<xsd:attribute name="idRichiedente" type="xsd:positiveInteger" use="required" />
			<xsd:attribute name="dataOraRichiesta" type="xsd:string" use="required" />
			<xsd:attribute name="seen" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="No" />
						<xsd:enumeration value="Si" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>